<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title><%= @title %> &raquo; φ</title>
    <link rel="stylesheet" href="/common.css" />
  </head>
  <body>
    <header><h1><%= @title %></h1></header>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="http://the.sun.is.beautiful.passcod.net">The Sun is Beautiful</a></li>
        <li><a href="/Revenge">Revenge</a></li>
        <li><a href="/A-Delicious-Morning-on-Mars">A Delicious Morning on Mars</a></li>
        <li><a href="http://emily.passcod.net">Emily</a></li>
      </ul>
    </nav>
    <article>
      <%= @content %>
    </article>
    <footer>
      <hr />
      <p>Copyright 2012 &copy; Félix Saparelli</p>
    </footer>
  </body>
</html>
